body {
    background-color: #ffffff;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
}

/* Red #FF312E*/

/*Dark
Black 0D1F2D
14213d light blue
fca311 traffic light yellow
e5e5e5 grey
ffffff white
*/

/* color */

a:hover() {
    color: #e5e5e5;
}
h1, li, a, p {
    color: rgb(0, 8, 20);
}

.container {
    margin: 0 auto;
    margin-left: 15%;
    margin-right: 15%;
    width: auto;
    z-index: 9;
}

.user {
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    width: auto;
}

.user ul {
    font-size: 1.1rem;
}

header {
    z-index: 9999;
    float: left;
    margin: 1rem 1rem;
    width: 100%;
    height: min-content;
    visibility: visible;
    transition: visibility 1s, opacity 0.5s;
}

header h1 {
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    text-align: center;
}

header ul {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1rem;
}

header li {
    display: inline;
}

header a {
    color: inherit;
    position: relative;
    z-index: 9999;
}

#input {
    display: inherit;
    width: auto;
    font-size: 1rem;
    position: relative;
    margin: 0;
    padding: 0;
    caret-color: rgba(0,0,0,0);
}

#a {
    outline: none;
    border: 0px none;
    background-color: rgb(255,255,255);
    color: rgba(0,0,0,.3);
    z-index: 2;
    height: 30rem;
    font-size: 1rem;
    overflow: hidden;
    opacity: 1;
}

#b {
    outline: none;
    border: 0px none;
    z-index: 3;
    height: 30rem;
    overflow: hidden;
    font-size: 1rem;
    color:rgba(0, 8, 20, .5);
}

#c {
    width: 100%;
    border-radius: 0;
    border: 0px none;
    resize: none;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    overflow: hidden;
    font-size: 1rem;
    outline: none;
    z-index: 4;
    height: 30rem;
}

#input section {
    display: grid;
    grid-template: 1fr/ 1fr;
    place-items: center;
    font-family: monospace;
}

#input section > * {
    grid-column: 1 /1;
    grid-row: 1 / 1;
}

#input ul {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
}

#input li {
    display: inline;
    margin-right: 1rem;
    transition: visibility 1s, opacity 0.5s;
}

#input input[type="button"] {
    border-radius: .25rem;
    display: inline;
}

#results {
    list-style-type: none;
    text-decoration-style: none;
    visibility: hidden;
    transition: visibility 1s, opacity 0.5s;
}

#material {
    text-align: center;
    visibility: hidden;
    transition: visibility 1s, opacity 0.5s;
}

.red {
    color: red;
}

.green {
    color: green;
}

.errchar {
    background-color: rgba(163, 29, 29, .5);
}

.corchar {
    background-color: rgba(64, 201, 54, .5);
}

.green {
    color: green;
}
