body {
    background-color: #0D1F2D;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
}
/* Red #FF312E*/

/*Dark
Black 0D1F2D
546A7B
9EA3B0
*/

/* color */

h1, li, a, p {
    color: #ffffff;
}

a:hover {
    color: #9EA3B0;
}

.container {
    margin: 0 auto;
    margin-left: 15%;
    margin-right: 15%;
    width: auto;
}

.user {
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    width: auto;
}

header {
    float: left;
    margin: 1rem 1rem;
    width: 100%;
    height: min-content;
    visibility: visible;
    transition: visibility 1s, opacity 0.5s; 
}

header h1 {
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    text-align: center;
}

header ul {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;

}
header li {
    display: inline;
}

header a {
    color: inherit;
}

#input {
    width: auto;
    font-size: 1rem;
}

#input textarea {
    width: 100%;
    border-radius: 0;
    border: 0px none;
    resize: none;
    background-color: rgba(0,0,0,0);
    color: #ffffff;
    overflow: hidden;
    font-size: 1rem;
    border: none;
    outline: none;
}

#input input[type="button"] {
    border-radius: .25rem;
}

#results {
    display: none;
}
#results ul {
    list-style-type: none;
    text-decoration-style: none;
}

.red {
    color: red;
}
.green {
    color: green;
}